<mat-card *ngIf="modelsService.isModelLoaded">
    <mat-card-header>
        <mat-card-title> Simular reserva de {{ modelsService.selectedModel.manufacturer.name }} {{ modelsService.selectedModel.name }} </mat-card-title>
        <mat-card-subtitle> <b>Categoria: </b>{{ modelsService.selectedModel.vehicleCategory.name }} - <b>Valor: </b>{{ modelsService.selectedModel.rentalRate | currency: ("BRL") }} / hora</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
          <mat-card-content>
            <p>
              <b>Tamanho do Porta-malas:</b> {{ modelsService.selectedModel.trunkSize }} Litros <br>
              <b>Combustivel:</b> {{ modelsService.selectedModel.fuelType.name }}        
            </p>
          </mat-card-content>
        <form>            
            <mat-form-field appearance="fill">
                <mat-label>Periodo da Reserva</mat-label>
                <mat-date-range-input [rangePicker]="rangePicker" required>
                    <input matStartDate placeholder="Inicio" #dateRangeStart required>
                    <input matEndDate placeholder="Devolução" #dateRangeEnd required>
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
                <mat-date-range-picker #rangePicker>
                    <mat-date-range-picker-actions>
                        <button mat-button matDateRangePickerCancel>Cancelar</button>
                        <button mat-raised-button color="primary" matDateRangePickerApply>Selecionar</button>
                    </mat-date-range-picker-actions>
                </mat-date-range-picker>
            </mat-form-field>   
        </form>
        <p *ngIf="modelsService.isSimulated"><b><span> Valor Hora:     {{ modelsService.simulationResult.rentalRate | currency: "BRL" }}</span></b></p>
        <p *ngIf="modelsService.isSimulated"><b><span> Total Estimado: {{ modelsService.simulationResult.estimatedTotal | currency: "BRL" }}</span></b></p>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="simulate(modelsService.selectedModel.id, dateRangeStart, dateRangeEnd)" mat-button *ngIf="!modelsService.isSimulated">Simular</button>
        <button (click)="reserve(modelsService.selectedModel.id, dateRangeStart, dateRangeEnd)" mat-button *ngIf="auth.isAuthenticated && modelsService.isSimulated" >Reservar</button>
        <button mat-button *ngIf="!auth.isAuthenticated && modelsService.isSimulated" routerLink="/login">Entrar</button>
    </mat-card-actions>
</mat-card>



  